:root {
	--container-background: #fdfdfd;
	--chat-background: #cfcfcf;
	--message-background: #f0f0f0;
    --app-color: #ffffff;

	--primary-text-color: #011627;
	--secondary-text-color: #707991;

	--received-msg-bubble-color: #a3a3a3;
	--sent-msg-bubble-color: #256aff;

	--text-size: 14px;
	--text-weight: 600;
	--heading-size: 16px;
	--heading-weight: 700;

	--notification-bubble-color: #78e378;

	--typing-section-background: #fbfbfb;
}
