:root {
	--container-background: #fdfdfd;
	--sidebar-background: #ffffff;
	--chat-background: #ffffff;
	--message-background: #25252515;

	--primary-text-color: #011627;
	--secondary-text-color: #707991;

	--received-msg-bubble-color: #f1f1f1;
	--sent-msg-bubble-color: #256aff;

	--text-size: 14px;
	--text-weight: 600;
	--heading-size: 16px;
	--heading-weight: 700;

	--notification-bubble-color: #78e378;

	--typing-section-background: #fbfbfb;
}
